.column {
    float: left;
    width: 50%;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    text-transform: capitalize;
    word-break: break-all;
}

.row {
    margin: 0 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.button {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: #ccc;
    outline: none;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .button {
        width: 50%;
    }
    .column {
        width: 100%;
    }
}
